.pad {
	border-radius: 25%;
	margin: 5%;
	flex-grow: 100;
	background-color: beige;
	user-select: none;
}

.pad:hover {
	background-color: lime;
}

.controllerPadGrid {
	display: grid;
	/* visibility: hidden; */
	align-self: center;
	flex-grow: 1;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: 4;
	border: 2px red dotted;
	width: 85vh;
	height: 85vh;
	padding: 5%;
}

.controllerPadFree {
	display: grid;
	visibility: collapse;
	align-self: center;
	flex-grow: 1;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: 4;
	border: 2px red dotted;
	width: 85vh;
	height: 85vh;
	padding: 5%;
}

.instrumentSettings {
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(4, 25%);
	padding: 0 3%;
}

.waveformSelect {
	margin: 1rem auto;
	grid-column: span 2;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	background-size: contain !important;
	background-position: center;
	background-repeat: no-repeat !important;
	background-color: pink !important;
}
